# Python-created cache files
**/__pycache__

# ipynotebook checkpoints
.ipynb_checkpoints

# Saved actor/critic networks from training
*.pth

# Plots, recorders, replay buffers
*plot_*.jpg
*recorder.npy
*replay*.npz

# experiments folder
experiments/

# Runs created by Isaac Gym
runs/

# VS Code
**/.vscode
# JetBrains folder
.idea/

**/build/
.pytest_cache/
docs/
elegantrl/envs/
**/.DS_Store
